*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-green-background {
    background-color: #00ff00; 
}

div{
    border: 1px solid black;
   
}


.row-for-my-row{
    display: flex;
    justify-content: space-between;
}

.container {
    border: 1px solid #ddd;
    padding: 20px;
}

img {
    width: 100%;
    
    border: 1px solid #ddd;
    
    margin-bottom: 10px;
}

h3, p {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.black-bar {
    background-color: black;
    height: 5px;
    width: 30%;
}

.custom-img-size{
      margin-top: 50px;
      width: 20%;
      height: 30%;
      border-radius: 50%;
      
}


.button-sm{
    min-width: 60px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 20%;
}

br{
   width: 30%;
  
}